
<div>
    <app-search-bar  [(searchText)]="searchText" [(filterCriteria)]="filterCriteria"></app-search-bar>

    <div  *ngFor="'let course of courses">
        <img src="course.image" alt="{{course.title}}">
        <h3>{{course.title}}</h3>
        <p>{{course.description}}</p>
        <p>Instructor: {{course.instructor}}</p>
        <p>Category: {{course.Category}}</p>
        <p>price: {{course.price}}</p>
        <button  (click)="enroll(course)">Enroll</button>
        <button  (click)="unenroll(course)">Unenroll</button>
    </div>
</div>